[Desktop Entry]
Version=0.1
Name=Data Viewer
Comment=View numpy array
Exec=python -m dataview.view --identify-segmentations %U
Terminal=false
Type=Application
Categories=Utility;Application;
